.cartContainer {
  padding: 20px;
  background-color: #ffe8d2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

.cartItem {
  display: flex;
  align-items: center;
  border: 2px solid #622f0b;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #c2a584;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cartItem:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  max-width: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.itemDetails {
  flex-grow: 1;
  text-align: left;
}

.title {
  color: #622f0b;
  font-size: 1.5em;
  margin: 10px 0;
}

.quantity,
.price {
  color: #622f0b;
  font-size: 1em;
  margin: 5px 0;
}

.deleteButton {
  background-color: #622f0b !important;
  color: #ffe8d2 !important;
  margin-top: 10px !important;
  transition: background-color 0.3s !important;
}

.deleteButton:hover {
  background-color: #50240a !important;
}

.total {
  color: #622f0b;
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0;
}

.clearButton {
  background-color: #622f0b !important;
  color: #ffe8d2 !important;
  margin: 20px 0 !important;
  display: block;
  width: 100%;
  transition: background-color 0.3s !important;
}

.clearButton:hover {
  background-color: #50240a !important;
}

.link {
  text-decoration: none;
  display: block;
  text-align: center;
}

.finishButton {
  color: #fff !important;
  width: 100%;
  padding: 10px;
  transition: background-color 0.3s !important;
}

.finishButton:hover {
  background-color: #501f0b !important;
}

.emptyCartMessage {
  text-align: center;
  font-size: 22px;
  color: #622f0b;
  margin-top: 20px;
}
