.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-top: 3em;
  padding: 20px;
  background-color: #ffe8d2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  color: #622f0b;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #c2a584;
  border-radius: 5px;
  font-size: 16px;
  color: #622f0b;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
  outline: none;
  border-color: #622f0b;
  box-shadow: 0 0 5px rgba(98, 47, 11, 0.5);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.form-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #622f0b;
  color: #ffe8d2;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.form-button:hover {
  background-color: #50240a;
  transform: scale(1.05);
}

.thankyou-message {
  text-align: center;
  color: #622f0b;
  margin-top: 20px;
  font-size: 20px;
}
