.footer {
  width: 100%;
  color: #ffe8d2;
  font-size: 18px;
  background-color: #622f0b;
  padding: 10px;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-footer {
  width: 5em;
}
.ul-footer {
  display: flex;
  justify-content: space-around;
  gap: 0.3em;

}
.eslogan {
  font-family: "Exo 2", sans-serif;
}
